*{
	background-color: #212529;
}

html{
	padding: 0px;
	margin: 0px;
	background-color: #212529;
}


body {
	margin: 150px;
	background-color: #212529;
}

#titleWeb {
	font-size: x-large;
	color: #f3f3f3;
}

h3 {
	color: #f3f3f3;
}

#button {
	padding: 0;
}

#button li {
	display: inline;
}

.nes-icon {
	transform: scale(3) !important;
}