
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background: transparent none no-repeat scroll left top; }
#wb_main { height: 662px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 60px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat scroll left top; }
body { background: #ffffff url("../gallery_gen/e54167899aa086cb614bc68d09276018.jpg") repeat-x scroll center bottom; }
.wb_sbg { background: transparent none no-repeat scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 822px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 822px; overflow: visible; min-height: 822px; }
#wb_element_instance20 { top: 0px; left: 250px; min-width: 930px; width: 930px; min-height: 108px; height: 108px; display: block; z-index: 537; }
#wb_element_instance20 > ul { display: block; }
#wb_element_instance20 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance20, #wb_element_instance20 ul { text-align: right; }
#wb_element_instance20 ul ul { background: #f2f2f2 none repeat scroll left top; }
#wb_element_instance20 li { margin: 0px 10px 20px 10px; }
#wb_element_instance20 li a { text-transform: uppercase; border: 0px none #000000; padding: 45px 10px 25px 10px; font: normal normal 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #1f1209; line-height: 18px; background: transparent none repeat-x scroll left center; }
#wb_element_instance20 li.over > a, #wb_element_instance20 li:focus > a { border: 0px none #000000; font: normal normal 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #4f4b4f; line-height: 18px; background: transparent url('../gallery/menu_item-ts1459754997.jpg') repeat-x scroll center top; }
#wb_element_instance20 li.active > a { border: 0px none #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #1f1209; line-height: 18px; background: transparent url('../gallery/menu_item-ts1459754997.jpg') repeat-x scroll center top; }
#wb_element_instance20:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance20:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance20:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance21 { top: -100px; left: 20px; min-width: 230px; width: 230px; min-height: 100px; height: 100px; display: block; z-index: 229; }
#wb_element_instance21 > .wb_shp { background: #151515 none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 5px 5px; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; width: 230px; height: 100px; }
#wb_element_instance22 { top: 5px; left: 28px; min-width: 220px; width: 220px; min-height: 86px; height: 86px; display: block; z-index: 390; }
#wb_element_instance23 { top: 20px; left: 20px; min-width: 160px; width: 160px; min-height: 32px; height: 32px; display: block; z-index: 370; }
#wb_element_instance24 { top: 60px; left: 450px; min-width: 290px; width: 290px; min-height: 290px; height: 290px; display: block; z-index: 135; }
#wb_element_instance24 img { width: 290px; height: 290px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance25 { top: 420px; left: 20px; min-width: 1160px; width: 1160px; min-height: 192px; height: 192px; display: block; z-index: 136; }
#wb_element_instance26 { top: 370px; left: 20px; min-width: 1160px; width: 1160px; min-height: 43px; height: 43px; display: block; z-index: 137; }
#wb_element_instance27 { top: 670px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance28 { top: 72px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance22 p:last-child { margin-bottom: 0; }
#wb_element_instance23 p:last-child { margin-bottom: 0; }
#wb_element_instance25 p:last-child { margin-bottom: 0; }
#wb_element_instance26 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
