
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 1000px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 60px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat scroll left top; }
body { background: #ffffff url("../gallery_gen/e54167899aa086cb614bc68d09276018.jpg") repeat-x scroll center bottom; }
.wb_sbg { background: transparent none no-repeat scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 1160px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1160px; overflow: visible; min-height: 1160px; }
#wb_element_instance29 { top: 0px; left: 250px; min-width: 930px; width: 930px; min-height: 108px; height: 108px; display: block; z-index: 537; }
#wb_element_instance29 > ul { display: block; }
#wb_element_instance29 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance29, #wb_element_instance29 ul { text-align: right; }
#wb_element_instance29 ul ul { background: #f2f2f2 none repeat scroll left top; }
#wb_element_instance29 li { margin: 0px 10px 20px 10px; }
#wb_element_instance29 li a { text-transform: uppercase; border: 0px none #000000; padding: 45px 10px 25px 10px; font: normal normal 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #1f1209; line-height: 18px; background: transparent none repeat-x scroll left center; }
#wb_element_instance29 li.over > a, #wb_element_instance29 li:focus > a { border: 0px none #000000; font: normal normal 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #4f4b4f; line-height: 18px; background: transparent url('../gallery/menu_item-ts1459754997.jpg') repeat-x scroll center top; }
#wb_element_instance29 li.active > a { border: 0px none #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #1f1209; line-height: 18px; background: transparent url('../gallery/menu_item-ts1459754997.jpg') repeat-x scroll center top; }
#wb_element_instance29:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance29:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance29:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance30 { top: -100px; left: 20px; min-width: 230px; width: 230px; min-height: 100px; height: 100px; display: block; z-index: 229; }
#wb_element_instance30 > .wb_shp { background: #151515 none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 5px 5px; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; width: 230px; height: 100px; }
#wb_element_instance31 { top: 5px; left: 28px; min-width: 220px; width: 220px; min-height: 86px; height: 86px; display: block; z-index: 390; }
#wb_element_instance32 { top: 20px; left: 20px; min-width: 160px; width: 160px; min-height: 32px; height: 32px; display: block; z-index: 370; }
#wb_element_instance33 form .form-area-field { height: 146px; }
#wb_element_instance33 { top: 320px; left: 200px; min-width: 720px; width: 720px; min-height: 260px; height: 260px; display: block; z-index: 59; }
#wb_element_instance34 { top: 620px; left: 20px; min-width: 1160px; width: 1160px; min-height: 330px; height: 330px; display: block; z-index: 60; }
#wb_element_instance35 { top: 130px; left: 945px; min-width: 200px; width: 200px; min-height: 120px; height: 120px; display: block; z-index: 61; }
#wb_element_instance36 { top: 60px; left: 120px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 62; }
#wb_element_instance36 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance37 { top: 60px; left: 420px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 63; }
#wb_element_instance37 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance38 { top: 60px; left: 720px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 64; }
#wb_element_instance38 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance39 { top: 60px; left: 1010px; min-width: 64px; width: 64px; min-height: 64px; height: 64px; display: block; z-index: 65; }
#wb_element_instance39 img { width: 64px; height: 64px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance40 { top: 130px; left: 60px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 66; }
#wb_element_instance41 { top: 130px; left: 350px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 68; }
#wb_element_instance42 { top: 130px; left: 660px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 69; }
#wb_element_instance43 { top: 260px; left: 20px; min-width: 1160px; width: 1160px; min-height: 43px; height: 43px; display: block; z-index: 70; }
#wb_element_instance44 { top: 40px; left: 50px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; z-index: 57; }
#wb_element_instance44 > .wb_shp { background: #ffffff; border: 0px solid #C0C0C0; opacity: 0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 220px; height: 210px; }
#wb_element_instance45 { top: 40px; left: 340px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; z-index: 56; }
#wb_element_instance45 > .wb_shp { background: transparent; border: 0px solid #C0C0C0; opacity: 0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 220px; height: 210px; }
#wb_element_instance46 { top: 40px; left: 650px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; z-index: 55; }
#wb_element_instance46 > .wb_shp { background: #ffffff; border: 0px solid #C0C0C0; opacity: 0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 220px; height: 210px; }
#wb_element_instance47 { top: 50px; left: 940px; min-width: 220px; width: 220px; min-height: 210px; height: 210px; display: block; z-index: 58; }
#wb_element_instance47 > .wb_shp { background: #ffffff; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 220px; height: 210px; }
#wb_element_instance48 { top: 1010px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance49 { top: 72px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance31 p:last-child { margin-bottom: 0; }
#wb_element_instance32 p:last-child { margin-bottom: 0; }
#wb_element_instance33 form td { text-align: right; }
#wb_element_instance33 form tr.area-row > th { height: 1%; }
#wb_element_instance33 form tr.area-row > td { height: 1%; }
#wb_element_instance33 form tr.form-footer > td { height: 20px; }
#wb_element_instance35 p:last-child { margin-bottom: 0; }
#wb_element_instance40 p:last-child { margin-bottom: 0; }
#wb_element_instance41 p:last-child { margin-bottom: 0; }
#wb_element_instance42 p:last-child { margin-bottom: 0; }
#wb_element_instance43 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
